/.idea/modules.xml
/.idea/NodeJS.iml
/.idea/vcs.xml
/.idea/jsLibraryMappings.xml
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/workspace.xml
/.idea/aws.xml
/03_bases_node/node_modules
