/.idea/modules.xml
/.idea/NodeJS.iml
/.idea/vcs.xml
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/workspace.xml
/.idea/aws.xml
/03_bases_node/node_modules/undefsafe/.jscsrc
/03_bases_node/node_modules/undefsafe/.jshintrc
/03_bases_node/node_modules/nopt/.npmignore
/03_bases_node/node_modules/.package-lock.json
/03_bases_node/node_modules/nodemon/.prettierrc.json
/03_bases_node/node_modules/concat-map/.travis.yml
/03_bases_node/node_modules/pstree.remy/.travis.yml
/03_bases_node/node_modules/undefsafe/.travis.yml
/03_bases_node/node_modules/abbrev/abbrev.js
/03_bases_node/node_modules/nodemon/lib/rules/add.js
/03_bases_node/node_modules/colors/lib/maps/america.js
/03_bases_node/node_modules/nodemon/doc/cli/authors.txt
/03_bases_node/node_modules/binary-extensions/binary-extensions.json
/03_bases_node/node_modules/binary-extensions/binary-extensions.json.d.ts
/03_bases_node/node_modules/simple-update-notifier/src/borderedText.ts
/03_bases_node/node_modules/debug/src/browser.js
/03_bases_node/node_modules/supports-color/browser.js
/03_bases_node/node_modules/nodemon/lib/utils/bus.js
/03_bases_node/node_modules/simple-update-notifier/src/cache.spec.ts
/03_bases_node/node_modules/simple-update-notifier/src/cache.ts
/03_bases_node/node_modules/braces/CHANGELOG.md
/03_bases_node/node_modules/debug/CHANGELOG.md
/03_bases_node/node_modules/glob-parent/CHANGELOG.md
/03_bases_node/node_modules/picomatch/CHANGELOG.md
/03_bases_node/node_modules/semver/functions/clean.js
/03_bases_node/node_modules/nodemon/lib/utils/clone.js
/03_bases_node/node_modules/semver/functions/cmp.js
/03_bases_node/node_modules/semver/functions/coerce.js
/03_bases_node/node_modules/colors/lib/colors.js
/03_bases_node/node_modules/nodemon/lib/utils/colour.js
/03_bases_node/node_modules/nodemon/lib/config/command.js
/03_bases_node/node_modules/debug/src/common.js
/03_bases_node/node_modules/semver/classes/comparator.js
/03_bases_node/node_modules/semver/functions/compare.js
/03_bases_node/node_modules/semver/functions/compare-build.js
/03_bases_node/node_modules/semver/functions/compare-loose.js
/03_bases_node/node_modules/braces/lib/compile.js
/03_bases_node/node_modules/nodemon/doc/cli/config.txt
/03_bases_node/node_modules/braces/lib/constants.js
/03_bases_node/node_modules/chokidar/lib/constants.js
/03_bases_node/node_modules/picomatch/lib/constants.js
/03_bases_node/node_modules/semver/internal/constants.js
/03_bases_node/node_modules/semver/internal/debug.js
/03_bases_node/node_modules/nodemon/lib/config/defaults.js
/03_bases_node/node_modules/semver/functions/diff.js
/03_bases_node/node_modules/semver/functions/eq.js
/03_bases_node/node_modules/undefsafe/example.js
/03_bases_node/node_modules/nodemon/lib/config/exec.js
/03_bases_node/node_modules/braces/lib/expand.js
/03_bases_node/node_modules/colors/lib/extendStringPrototype.js
/03_bases_node/node_modules/chokidar/lib/fsevents-handler.js
/03_bases_node/node_modules/balanced-match/.github/FUNDING.yml
/03_bases_node/node_modules/colors/themes/generic-logging.js
/03_bases_node/node_modules/simple-update-notifier/src/getDistVersion.spec.ts
/03_bases_node/node_modules/simple-update-notifier/src/getDistVersion.ts
/03_bases_node/node_modules/semver/functions/gt.js
/03_bases_node/node_modules/semver/functions/gte.js
/03_bases_node/node_modules/semver/ranges/gtr.js
/03_bases_node/node_modules/colors/lib/system/has-flag.js
/03_bases_node/node_modules/simple-update-notifier/src/hasNewVersion.spec.ts
/03_bases_node/node_modules/simple-update-notifier/src/hasNewVersion.ts
/03_bases_node/node_modules/nodemon/doc/cli/help.txt
/03_bases_node/node_modules/semver/internal/identifiers.js
/03_bases_node/node_modules/semver/functions/inc.js
/03_bases_node/node_modules/anymatch/index.d.ts
/03_bases_node/node_modules/binary-extensions/index.d.ts
/03_bases_node/node_modules/chokidar/types/index.d.ts
/03_bases_node/node_modules/colors/index.d.ts
/03_bases_node/node_modules/is-binary-path/index.d.ts
/03_bases_node/node_modules/readdirp/index.d.ts
/03_bases_node/node_modules/simple-update-notifier/build/index.d.ts
/03_bases_node/node_modules/anymatch/index.js
/03_bases_node/node_modules/balanced-match/index.js
/03_bases_node/node_modules/binary-extensions/index.js
/03_bases_node/node_modules/brace-expansion/index.js
/03_bases_node/node_modules/braces/index.js
/03_bases_node/node_modules/chokidar/index.js
/03_bases_node/node_modules/colors/lib/index.js
/03_bases_node/node_modules/concat-map/index.js
/03_bases_node/node_modules/debug/src/index.js
/03_bases_node/node_modules/fill-range/index.js
/03_bases_node/node_modules/glob-parent/index.js
/03_bases_node/node_modules/has-flag/index.js
/03_bases_node/node_modules/ignore-by-default/index.js
/03_bases_node/node_modules/is-binary-path/index.js
/03_bases_node/node_modules/is-extglob/index.js
/03_bases_node/node_modules/is-glob/index.js
/03_bases_node/node_modules/is-number/index.js
/03_bases_node/node_modules/lru-cache/index.js
/03_bases_node/node_modules/ms/index.js
/03_bases_node/node_modules/nodemon/lib/cli/index.js
/03_bases_node/node_modules/nodemon/lib/config/index.js
/03_bases_node/node_modules/nodemon/lib/help/index.js
/03_bases_node/node_modules/nodemon/lib/monitor/index.js
/03_bases_node/node_modules/nodemon/lib/rules/index.js
/03_bases_node/node_modules/nodemon/lib/utils/index.js
/03_bases_node/node_modules/nodemon/lib/index.js
/03_bases_node/node_modules/normalize-path/index.js
/03_bases_node/node_modules/picomatch/index.js
/03_bases_node/node_modules/pstree.remy/lib/index.js
/03_bases_node/node_modules/pstree.remy/tests/fixtures/index.js
/03_bases_node/node_modules/readdirp/index.js
/03_bases_node/node_modules/semver/classes/index.js
/03_bases_node/node_modules/semver/index.js
/03_bases_node/node_modules/simple-update-notifier/build/index.js
/03_bases_node/node_modules/supports-color/index.js
/03_bases_node/node_modules/to-regex-range/index.js
/03_bases_node/node_modules/touch/index.js
/03_bases_node/node_modules/simple-update-notifier/src/index.spec.ts
/03_bases_node/node_modules/pstree.remy/tests/index.test.js
/03_bases_node/node_modules/simple-update-notifier/src/index.ts
/03_bases_node/node_modules/semver/ranges/intersects.js
/03_bases_node/node_modules/simple-update-notifier/src/isNpmOrYarn.ts
/03_bases_node/node_modules/yallist/iterator.js
/.idea/jsLibraryMappings.xml
/03_bases_node/node_modules/abbrev/LICENSE
/03_bases_node/node_modules/anymatch/LICENSE
/03_bases_node/node_modules/brace-expansion/LICENSE
/03_bases_node/node_modules/braces/LICENSE
/03_bases_node/node_modules/chokidar/LICENSE
/03_bases_node/node_modules/colors/LICENSE
/03_bases_node/node_modules/concat-map/LICENSE
/03_bases_node/node_modules/debug/LICENSE
/03_bases_node/node_modules/fill-range/LICENSE
/03_bases_node/node_modules/glob-parent/LICENSE
/03_bases_node/node_modules/ignore-by-default/LICENSE
/03_bases_node/node_modules/is-extglob/LICENSE
/03_bases_node/node_modules/is-glob/LICENSE
/03_bases_node/node_modules/is-number/LICENSE
/03_bases_node/node_modules/lru-cache/LICENSE
/03_bases_node/node_modules/minimatch/LICENSE
/03_bases_node/node_modules/nodemon/LICENSE
/03_bases_node/node_modules/nopt/LICENSE
/03_bases_node/node_modules/normalize-path/LICENSE
/03_bases_node/node_modules/picomatch/LICENSE
/03_bases_node/node_modules/pstree.remy/LICENSE
/03_bases_node/node_modules/readdirp/LICENSE
/03_bases_node/node_modules/semver/LICENSE
/03_bases_node/node_modules/simple-update-notifier/LICENSE
/03_bases_node/node_modules/to-regex-range/LICENSE
/03_bases_node/node_modules/touch/LICENSE
/03_bases_node/node_modules/undefsafe/LICENSE
/03_bases_node/node_modules/yallist/LICENSE
/03_bases_node/node_modules/binary-extensions/license
/03_bases_node/node_modules/has-flag/license
/03_bases_node/node_modules/is-binary-path/license
/03_bases_node/node_modules/supports-color/license
/03_bases_node/node_modules/balanced-match/LICENSE.md
/03_bases_node/node_modules/ms/license.md
/03_bases_node/node_modules/nodemon/lib/config/load.js
/03_bases_node/node_modules/nodemon/lib/utils/log.js
/03_bases_node/node_modules/nodemon/doc/cli/logo.txt
/03_bases_node/node_modules/semver/functions/lt.js
/03_bases_node/node_modules/semver/functions/lte.js
/03_bases_node/node_modules/semver/ranges/ltr.js
/03_bases_node/node_modules/semver/functions/major.js
/03_bases_node/node_modules/concat-map/example/map.js
/03_bases_node/node_modules/concat-map/test/map.js
/03_bases_node/node_modules/nodemon/lib/monitor/match.js
/03_bases_node/node_modules/semver/ranges/max-satisfying.js
/03_bases_node/node_modules/nodemon/lib/utils/merge.js
/03_bases_node/node_modules/semver/ranges/min-satisfying.js
/03_bases_node/node_modules/semver/ranges/min-version.js
/03_bases_node/node_modules/minimatch/minimatch.js
/03_bases_node/node_modules/semver/functions/minor.js
/03_bases_node/node_modules/nopt/examples/my-program.js
/03_bases_node/node_modules/semver/functions/neq.js
/03_bases_node/node_modules/debug/src/node.js
/03_bases_node/node_modules/debug/node.js
/03_bases_node/node_modules/chokidar/lib/nodefs-handler.js
/03_bases_node/node_modules/.bin/nodemon
/03_bases_node/node_modules/.bin/nodemon.cmd
/03_bases_node/node_modules/nodemon/bin/nodemon.js
/03_bases_node/node_modules/nodemon/lib/nodemon.js
/03_bases_node/node_modules/.bin/nodemon.ps1
/03_bases_node/node_modules/.bin/nodetouch
/03_bases_node/node_modules/.bin/nodetouch.cmd
/03_bases_node/node_modules/touch/bin/nodetouch.js
/03_bases_node/node_modules/.bin/nodetouch.ps1
/03_bases_node/node_modules/.bin/nopt
/03_bases_node/node_modules/.bin/nopt.cmd
/03_bases_node/node_modules/nopt/bin/nopt.js
/03_bases_node/node_modules/nopt/lib/nopt.js
/03_bases_node/node_modules/.bin/nopt.ps1
/03_bases_node/node_modules/colors/examples/normal-usage.js
/03_bases_node/node_modules/nodemon/doc/cli/options.txt
/03_bases_node/node_modules/pstree.remy/tests/fixtures/out1
/03_bases_node/node_modules/pstree.remy/tests/fixtures/out2
/03_bases_node/node_modules/semver/ranges/outside.js
/03_bases_node/node_modules/abbrev/package.json
/03_bases_node/node_modules/anymatch/package.json
/03_bases_node/node_modules/balanced-match/package.json
/03_bases_node/node_modules/binary-extensions/package.json
/03_bases_node/node_modules/brace-expansion/package.json
/03_bases_node/node_modules/braces/package.json
/03_bases_node/node_modules/chokidar/package.json
/03_bases_node/node_modules/colors/package.json
/03_bases_node/node_modules/concat-map/package.json
/03_bases_node/node_modules/debug/package.json
/03_bases_node/node_modules/fill-range/package.json
/03_bases_node/node_modules/glob-parent/package.json
/03_bases_node/node_modules/has-flag/package.json
/03_bases_node/node_modules/ignore-by-default/package.json
/03_bases_node/node_modules/is-binary-path/package.json
/03_bases_node/node_modules/is-extglob/package.json
/03_bases_node/node_modules/is-glob/package.json
/03_bases_node/node_modules/is-number/package.json
/03_bases_node/node_modules/lru-cache/package.json
/03_bases_node/node_modules/minimatch/package.json
/03_bases_node/node_modules/ms/package.json
/03_bases_node/node_modules/nodemon/package.json
/03_bases_node/node_modules/nopt/package.json
/03_bases_node/node_modules/normalize-path/package.json
/03_bases_node/node_modules/picomatch/package.json
/03_bases_node/node_modules/pstree.remy/package.json
/03_bases_node/node_modules/readdirp/package.json
/03_bases_node/node_modules/semver/package.json
/03_bases_node/node_modules/simple-update-notifier/package.json
/03_bases_node/node_modules/supports-color/package.json
/03_bases_node/node_modules/to-regex-range/package.json
/03_bases_node/node_modules/touch/package.json
/03_bases_node/node_modules/undefsafe/package.json
/03_bases_node/node_modules/yallist/package.json
/03_bases_node/node_modules/braces/lib/parse.js
/03_bases_node/node_modules/nodemon/lib/cli/parse.js
/03_bases_node/node_modules/nodemon/lib/rules/parse.js
/03_bases_node/node_modules/picomatch/lib/parse.js
/03_bases_node/node_modules/semver/functions/parse.js
/03_bases_node/node_modules/semver/internal/parse-options.js
/03_bases_node/node_modules/semver/functions/patch.js
/03_bases_node/node_modules/picomatch/lib/picomatch.js
/03_bases_node/node_modules/semver/preload.js
/03_bases_node/node_modules/semver/functions/prerelease.js
/03_bases_node/node_modules/colors/lib/maps/rainbow.js
/03_bases_node/node_modules/colors/lib/maps/random.js
/03_bases_node/node_modules/semver/range.bnf
/03_bases_node/node_modules/semver/classes/range.js
/03_bases_node/node_modules/semver/functions/rcompare.js
/03_bases_node/node_modules/semver/internal/re.js
/03_bases_node/node_modules/concat-map/README.markdown
/03_bases_node/node_modules/abbrev/README.md
/03_bases_node/node_modules/anymatch/README.md
/03_bases_node/node_modules/balanced-match/README.md
/03_bases_node/node_modules/brace-expansion/README.md
/03_bases_node/node_modules/braces/README.md
/03_bases_node/node_modules/chokidar/README.md
/03_bases_node/node_modules/colors/README.md
/03_bases_node/node_modules/debug/README.md
/03_bases_node/node_modules/fill-range/README.md
/03_bases_node/node_modules/glob-parent/README.md
/03_bases_node/node_modules/ignore-by-default/README.md
/03_bases_node/node_modules/is-extglob/README.md
/03_bases_node/node_modules/is-glob/README.md
/03_bases_node/node_modules/is-number/README.md
/03_bases_node/node_modules/lru-cache/README.md
/03_bases_node/node_modules/minimatch/README.md
/03_bases_node/node_modules/nodemon/README.md
/03_bases_node/node_modules/nopt/README.md
/03_bases_node/node_modules/normalize-path/README.md
/03_bases_node/node_modules/picomatch/README.md
/03_bases_node/node_modules/pstree.remy/README.md
/03_bases_node/node_modules/readdirp/README.md
/03_bases_node/node_modules/semver/README.md
/03_bases_node/node_modules/simple-update-notifier/README.md
/03_bases_node/node_modules/to-regex-range/README.md
/03_bases_node/node_modules/touch/README.md
/03_bases_node/node_modules/undefsafe/README.md
/03_bases_node/node_modules/yallist/README.md
/03_bases_node/node_modules/binary-extensions/readme.md
/03_bases_node/node_modules/has-flag/readme.md
/03_bases_node/node_modules/is-binary-path/readme.md
/03_bases_node/node_modules/ms/readme.md
/03_bases_node/node_modules/supports-color/readme.md
/03_bases_node/node_modules/undefsafe/.github/workflows/release.yml
/03_bases_node/node_modules/semver/functions/rsort.js
/03_bases_node/node_modules/nodemon/lib/monitor/run.js
/03_bases_node/node_modules/colors/safe.d.ts
/03_bases_node/node_modules/colors/safe.js
/03_bases_node/node_modules/colors/examples/safe-string.js
/03_bases_node/node_modules/semver/functions/satisfies.js
/03_bases_node/node_modules/picomatch/lib/scan.js
/03_bases_node/node_modules/.bin/semver
/03_bases_node/node_modules/.bin/semver.cmd
/03_bases_node/node_modules/semver/bin/semver.js
/03_bases_node/node_modules/semver/classes/semver.js
/03_bases_node/node_modules/.bin/semver.ps1
/03_bases_node/node_modules/nodemon/lib/monitor/signals.js
/03_bases_node/node_modules/semver/ranges/simplify.js
/03_bases_node/node_modules/semver/functions/sort.js
/03_bases_node/node_modules/nodemon/lib/spawn.js
/03_bases_node/node_modules/braces/lib/stringify.js
/03_bases_node/node_modules/colors/lib/styles.js
/03_bases_node/node_modules/semver/ranges/subset.js
/03_bases_node/node_modules/colors/lib/system/supports-colors.js
/03_bases_node/node_modules/semver/ranges/to-comparators.js
/03_bases_node/node_modules/nodemon/doc/cli/topics.txt
/03_bases_node/node_modules/colors/lib/custom/trap.js
/03_bases_node/node_modules/pstree.remy/lib/tree.js
/03_bases_node/node_modules/simple-update-notifier/src/types.ts
/03_bases_node/node_modules/undefsafe/lib/undefsafe.js
/03_bases_node/node_modules/nodemon/doc/cli/usage.txt
/03_bases_node/node_modules/braces/lib/utils.js
/03_bases_node/node_modules/picomatch/lib/utils.js
/03_bases_node/node_modules/pstree.remy/lib/utils.js
/03_bases_node/node_modules/semver/functions/valid.js
/03_bases_node/node_modules/semver/ranges/valid.js
/03_bases_node/node_modules/nodemon/lib/version.js
/03_bases_node/node_modules/nodemon/lib/monitor/watch.js
/03_bases_node/node_modules/nodemon/doc/cli/whoami.txt
/03_bases_node/node_modules/nodemon/bin/windows-kill.exe
/03_bases_node/node_modules/yallist/yallist.js
/03_bases_node/node_modules/colors/lib/custom/zalgo.js
/03_bases_node/node_modules/colors/lib/maps/zebra.js
