# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/03_bases_node.iml
/modules.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
/jsLibraryMappings.xml
